{% extends "base.html" %}

{% block content %}
<div class="pageborder">
<h3>Login</h1>
<form action="/login" method="post">
	<div class="table-responsive">
    <table class="table-condensed">
        <tr>
            <td><label for="'username">Username</label></td>
            <td>
                <input name="username" type="text" value="{{username}}">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
    </table>
    <input type="submit" value="Login">
    </div>
</form>
<p>New User? <form action="/signup">
  <input type="submit" value="Create Account"/>
</form>
</div>
{% endblock %}