{% extends "base.html" %}

{% block content %}
    <form class="form" method='post' action='newpost'>
    <div class="table-responsive">
    <table class="table-condensed">
        <tr>
            <td><label for="title">Blog Title</label></td>
            <td>
                <input type="text" name='title' value="{{titlec}}"/>
            </td>
        </tr>
        <tr>
            <td><label for="content">Blog Content</label></td>
            <td>
                <textarea name="body">{{body}}</textarea>
            </td>
        </tr>
    </table>
    <input type="submit" value="Add Entry">
    </div>
    </form>
    <form class="form" method='post' action='newpost'>
{% endblock %}